@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'D-DIN Exp', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}


/* start header */
.header{
    height: 70px;
    background-color: #F1F1F1;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .title-header{
    font-size: 25px;
    font-weight: bold;
}

.search-header{
    width: 400px;
    display: flex;
}

.search-header input{
    height: 50px;
    width: 350px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    padding: 0 20px;
}

.search-header button{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #0075FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-header button img{
    width: 35px;
    height: 35px;
}
/* end header */


/* Start Menu */
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.nav-menu{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.nav-menu a{
    color: #A0A0A0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;

}

.nav-menu a:nth-child(2){
    color: #000;
    font-weight: bold;
}

.nav-menu a:hover {
    /* border-bottom: 2px solid #000; */
    color: #000;
}

.button button{
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px #0000000F;
    box-shadow: 0px 0px 4px 0px #0000000A;
    border-radius: 50px;
    margin-left: 10px;
}

.button button:nth-child(1){
    width: 150px;
    height: 45px;
    background-color: #0075FF;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.button button:nth-child(2){
    width: 180px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #0075FF;
    font-size: 14px;
    color: #0075FF;
    font-weight: bold;
}

.line-menu{
    width: 93%;
    border: 1px solid #BABABA;
    margin-top: 10px;
    margin: 10px auto 50px auto;
}
/* End Menu */

/* start table */
.section-table{
    width: 100%;
    padding: 0 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr{
    text-align: left;
}

table tr th{
    padding: 20px 0;
}

table tr td{
    margin-top: 10px;
    padding: 15px 0;
}

table tr td:nth-child(1),
table tr th:nth-child(1){
    padding-left: 30px;
}

table tr td:nth-child(3),
table tr th:nth-child(3),
table tr td:nth-child(2),
table tr th:nth-child(2){
    padding: 0 100px;
}

tr:nth-child(2n + 1) {
    background-color: #F1F1F1;
}

tr td button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

tr td button:nth-child(1){
    background-color: #00B279;
}
tr td button:nth-child(2){
    background-color: #FFC535;
}
tr td button:nth-child(3){
    background-color: #0075FF;
}
tr td button:nth-child(4){
    background-color: #FF2622;
}

.icon{
    width: 20px;
    height: 20px;
}
/* end table */




/* Statr Modal */
.modal2 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content2 {
    width: 30%;
    height: 60%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.icon-confrm{
    display: flex;
    justify-content: center;
}

.title-confrm{
    margin-top: 25px;
}

.title-confrm p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #516377;
}


.title-confrm p:nth-child(2){
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: #516377;
    margin-top: 5px;
}

/* start button */
.btn-modal-confrm{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.btn-modal-confrm button{
    width: 45%;
    height: 50px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.btn-modal-confrm button:nth-child(1){
    background-color: #0075FF;
    margin-bottom: 10px;
}
.btn-modal-confrm button:nth-child(2){
    background-color: #FF2622;
    margin-left: 20px;
}
/* end Modal */
