@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'D-DIN Exp', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

/* start headbar */
.headbar{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.menu-header{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a{
    text-decoration: none;
}
/* end headbar */


/* Start Wrapper */
.wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: #F5F6FA;
}
/* End Wrapper */


/* start sidebar */
.sidebar{
    width: 7%;
    background-color: #fff;
    padding: 10px;
}
.menu-aside{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menu-aside .menu-icon{
    text-decoration: none;
}

/* end sidebar */

/* *********************************************************************************************** */

/* start Content  */
.container-content{
    width: 90%;
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
}

/* start header */
.header{
    height: 60px;
    background-color: #F1F1F1;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    align-items: center; 
    margin-bottom: 20px;
}

.header .title-header{
    font-size: 22px;
    font-weight: bold;
}

.search-header{
    width: 300px;
    display: flex;
}

.search-header input{
    height: 40px;
    width: 350px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    padding: 0 20px;
}

.search-header button{
    width: 50px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color: #0075FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-header button img{
    width: 26px;
    height: 26px;
}
/* end header */


/* Start Group */
.group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.group .group-name p{
    font-size: 22px;
    font-weight: bold;
}

.group .group-edit button{
    width: 150px;
    height: 40px;
    background-color: #0075FF;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

/* End Group */

/* start section */
.section{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 15px;
}

.scan{
    width: 25%;
    height: 380px;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #003778;
    display: flex;
    flex-direction: column;
}

.title-scan{
    width: 270px;
    margin-bottom: 15px;
    margin: auto;
}

.title-scan p:nth-child(1){
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.title-scan p:nth-child(2){
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.scan .qr{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.scan .qr img{
    width: 75%;
}

.btn-download-qr{
    width: 270px;
    margin: auto;
}

.scan button{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    background-color: #0075FF;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 2.5333333015441895px 2.5333333015441895px 0px #00000040;
}

.scan button img{
    margin-right: 5px;
}



.table{
    width: 73%;
    height: 370px;
}


table{
    width: 100%;
    height: 250px;
    border-collapse: collapse;
    border: 1px solid #D1D4D6;
}

table th{
    text-align: left;
    background-color: #D1D4D6;
}

table th:nth-child(1){
    border-top-left-radius: 10px;
}

table th:nth-child(4){
    border-top-right-radius: 10px;
}

table td{
    align-items: center;
}

table td:nth-child(1),
table th:nth-child(1){
    padding-left: 10px;
}

table td:nth-child(2),
table th:nth-child(2){
    width: 300px;
    padding: 0 20px;
}

table td:nth-child(3),
table th:nth-child(3){
    padding-right: 30px;
}

tr:nth-child(2n + 1) {
    background-color: #F1F1F1;
}

tr td button{
    width: 30px;
    height: 3p0x;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border: none;
    background-color: transparent;
}

/* tr td button:nth-child(1){
    background-color: #00B279;
}
tr td button:nth-child(2){
    background-color: #FFC535;
}
tr td button:nth-child(3){
    background-color: #FF2622;
} */


.icon{
    width: 25px;
    height: 25px;
}

.pagination {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    font-size: 14px;
}
  
.pagination a.active {
    background-color: #0075FF;
    color: white;
    border: 1px solid #0075FF;
}
/* end section */


/* start button */
.section-button{
    margin-top: 20px;
    width: 100%;
    padding: 0 50px;
}
.line-button{
    width: 100%;
    border: 1px solid #D1D4D6;
    margin-bottom: 20px;
}

.button-act{
    width: auto;
    display: flex;
    justify-content: space-between;
    float: right;
}

.button-act button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 4px 8px 0px #0000000F;
    box-shadow: 0px 0px 4px 0px #0000000A;
    margin-bottom: 20px;

}

.button-act button:nth-child(1){
    background-color: #FF2622;
}
/* end button */
/* End Content */


