*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccc;
    font-family: D-DIN Exp;
}

.container{
    width: 600px;
    height: auto;
    background-color: #fff;
    margin: auto;
    padding: 50px 20px;
}

/* start header */
.header{
    width: 560px;
    height: 130px;
    background-color: #D6E9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 300px;
    height: 58px;

}

.title-header{
    width: 560px;
    margin: 30px 0;
}

.title-header p:nth-child(1){
    font-size: 28px;
    font-weight: bold;
    color: #080551;
}

.title-header p{
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
}

.title-header p span{
    font-weight: bold;
}
/* end header */

/* Start Pesanan */
.container-pesanan{
    width: 560px;
    height: 60px;
    border: 1px solid #16479C;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636B78;
}


.container-pesanan p{
    font-size: 22px;
    font-weight: bold;
    color: #16479C;
    text-align: center;
}

.detail-pesanan{
    width: 560px;
    margin: 20px auto;
}

.content-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.content-detail .ket{
    display: flex;
    align-items: center;
}

.content-detail .ket img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.content-detail p:nth-child(1){
    font-size: 18px;
    color: #636B78;
}

.content-detail p:nth-child(2){
    font-size: 18px;
    color: #636B78;
    font-weight: bold;
}

.order-pesanan{
    width: 560px;
}

.header-list-pesanan{
    width: 100%;
    height: 45px;
    background-color: #D6E9FF;
    margin: 40px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header-list-pesanan p{
    font-size: 18px;
    font-weight: bold;
}

.header-list-pesanan p:nth-child(1){
    margin-right: 250px;
}

.header-list-pesanan p:nth-child(2){
    margin-right: 135px;
}

.detail-order{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: 20px;
}

.detail-order p:nth-child(1){
    width: 210px;
    margin-right: 90px;
    font-size: 18px;
    color: #636B78;
    font-weight: 100;
}

.detail-order p:nth-child(2){
    margin-right: 150px;
    font-size: 18px;
    color: #636B78;
    font-weight: 100;
}

.detail-order p:nth-child(3){
    font-size: 18px;
    color: #636B78;
    font-weight: bold;
}

.line{
    width: 100%;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.line2{
    width: 70%;
    border: 1px solid #ccc;
    margin: 20px 0;
    margin: auto;
}

.total-order{
    display: flex;
    justify-content: space-between;
}

.total-order p{
    font-size: 22px;
    font-weight: bold;
}
/* End Pesanan */

/* start Button Order */
.btn-orderan{
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.btn-orderan button:nth-child(1){
    height: 70px;
    background-color: #16479C;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.btn-orderan button:nth-child(2){
    height: 70px;
    background-color: #fff;
    border: 1px solid #16479C;
    font-size: 18px;
    font-weight: bold;
    color: #16479C;
    margin-bottom: 20px;
    cursor: pointer;
}

/* end Button Order */

/* start Detail Toko */
.detail-toko{
    width: 560px;
    padding: 20px;
    margin-top: 30px;
}
.nama-toko{
    display: flex;
    align-items: center;
}

.nama-toko img{
    margin-right: 5px;
}

.nama-toko p{
    font-size: 22px;
    font-weight: bold;
}

.title-toko{
    width: 520px;
    margin-top: 30px;
}

.desc-toko{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.desc-toko p:nth-child(1){
    font-size: 18px;
    font-weight: 100;
    color: #636B78;

}

.desc-toko p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    width: 277px;
    text-align: right;
    color: #636B78;
}

.footer{
    width: 560px;
    margin: auto;
}

.footer p{
    font-size: 18px;
    text-align: center;
    color: #16479C;
}

.footer p:nth-child(1){
    font-size: 18px;
}

.footer p:nth-child(2){
    font-size: 18px;
    margin-top: 20px;
}

.footer span{
    font-weight: bold;
}

/* end Detail Toko */