*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccc;
    font-family: D-DIN Exp;
}

.container{
    width: 834px;
    height: 1516px;
    background-color: #ffff;
    margin: auto;
    padding: 40px 20px;
}

.header{
   display: flex;
   justify-content: center;
}

.header img{
    width: 355px;
    height: 67px;
}

.name-order{
    margin: 50px 0;
}

.name-order p{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.container-detail-pesanan{
    width: 774px;
    height: 655px;
    border-radius: 20px;
    border: 1px solid #D4D8DD;
    margin: auto;
    padding: 40px 20px;
}

.title-pesanan{
    width: 734px;
    height: 99px;
}

.title-pesanan .top{
    display: flex;
    align-items: center;
}

.title-pesanan .top img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.title-pesanan .top p{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.title-pesanan p{
    font-size: 25px;
    color: #636B78;
}


.line{
    width: 734px;
    border: 1px solid #D4D8DD;
    margin: 30px 0;
}

.detail-pesanan{
    width: 734px;
    height: 191px;
}

.detail-pesanan p{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.detail-pesanan .bayar{
    width: 734px;
    display: flex;
    margin: 10px 0;
}

.detail-pesanan .bayar .total{ 
    width: 315px;
    display: flex;
    justify-content: space-between;
}

.detail-pesanan .bayar p{
    font-size: 25px;
    color: #636B78;
} 

.detail-pesanan .bayar .total p{
  font-weight: 300;
}

.detail-pesanan .bayar .detail-total p{
    font-size: 25px;
    margin-left: 10px;
}

.detail-total {
    display: flex;
}

.detail-total img{
    margin-left: 10px;
}

.link-pesanan{
    width: 734px;
}

.link-pesanan .link{
    display: flex;
    flex-direction: row;
}

.link-pesanan .link .title-link{
    width: 442px;
    display: flex;
    justify-content: space-between;
}

.link-pesanan .link .title-link p{
    font-size: 25px;
}

.link-pesanan .link .title-link p:nth-child(1){
    color: #636B78;
    font-weight: 100;
}

.link-pesanan .link .detail-total p{
    color: #0075FF;
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
}

.link-pesanan .link .detail-total .download{
    display: flex;
}

.link-pesanan .link .detail-total .download p{
    color: #74788D;
}

.info-pesanan p{
    font-size: 25px;
    color: #636B78;
}

.info-pesanan p span{
    font-weight: bold;
}

.container-detail-toko{
    width: 774px;
    height: 481px;
    border-radius: 20px;
    border: 1px solid #D4D8DD;
    margin: 40px auto;
    padding: 40px 20px;
}

.toko{
    display: flex;
    align-items: center;
}

.toko p{
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
}

.detail-toko{
    width: 734px;
    height: auto;
}

.detail-toko .toko-desc{
    width: 734px;
    display: flex;
    margin: 15px 0;
}
.detail-toko .toko-desc .desc{
    width: 312px;
    display: flex;
    justify-content: space-between;
}

.detail-toko .toko-desc .desc p{
    font-size: 25px;
    color: #636B78;
    font-weight: 100;
}

.detail-toko .toko-desc .section-desc{
    width: 412px;
    margin-left: 10px;
}

.detail-toko .toko-desc .section-desc p{
    font-size: 25px;
    color: #636B78;
    font-weight: bold;
}
.btn{
    margin: auto;
    width: 618px;
    height: 85px;
}
button{
    width: 618px;
    height: 85px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #0075FF;
    margin: auto;
    font-size: 28px;
    color: #0075FF;
    font-weight: bold;
    cursor: pointer;
    
}


