@import url('https://fonts.cdnfonts.com/css/d-din');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'D-DIN Exp', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #F5F6FA;
}

/* start headbar */
.headbar{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.menu-header{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a{
    text-decoration: none;
}
/* end headbar */

/* Start Wrapper */
.wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    background: #F5F6FA;
}
/* End Wrapper */

/* start sidebar */
.sidebar{
    width: 7%;
    background-color: #fff;
    padding: 10px;
}
.menu-aside{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.menu-aside .menu-icon{
    text-decoration: none;
}

/* end sidebar */

/* *********************************************************************************************** */

/* start Content  */
.container-content{
    width: 90%;
    margin: 15px;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}


/* start title  */
.title{
    margin-bottom: 20px;
}
.title p{
    font-size: 18px;
    font-weight: bold;
}
/* end title  */

/* Start Menu */
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-menu a{
    color: #A0A0A0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;

}

.nav-menu a:nth-child(2){
    color: #000;
    font-weight: bold;
}

.nav-menu a:hover {
    /* border-bottom: 2px solid #000; */
    color: #000;
}

.button button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #E7EBEF;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px #0000000F;
    box-shadow: 0px 0px 4px 0px #0000000A;
    font-size: 14px;
    color: #838383;
}

.line-menu{
    width: 100%;
    border: 1px solid #BABABA;
    margin-top: 10px;
}
/* End Menu */

/* start section kategori */
form{
    margin-top: 25px;

}

.field-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.field-section .field-br1{
    display: flex;
    align-items: center;
}

.field-section .field-br1 .input{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.field-section .field-br1 .input label{
    font-size: 14px;
    margin-bottom: -5px;
}

.field-section .field-br1 .input input{
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #F1F1F1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
}

.field-section .field-br1 .input select{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    padding: 0 15px;
    background-color: #F1F1F1;
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-top: 20px;
}


.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: #8BBBEB;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    bottom: -2px;
    background-color: #1A76D2;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #8BBBEB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #8BBBEB;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.input label{
    font-size: 14px;
    margin-bottom: 10px;
}

.input input{
    width: 540px;
    height: 50px;
    border-radius: 4px;
    background-color: #F1F1F1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
    margin-top: 10px;
}


/* Image */
.field-img{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-img{
    display: flex;
}

.img{
    width: 130px;
    height: 130px;
    margin-top: 10px;
    border-radius: 4px;
    margin-right: 15px;
}

.satu{
    background-image: url('../assets/foto-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dua{
    background-image: url('../assets/foto-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tiga{
    background-image: url('../assets/foto-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.empat{
    background-image: url('../assets/foto-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradasi{
    height: 30px;
    background: #00000084;
    /* opacity: 0.5; */
    border-radius: 0px 0px 4px 4px;
    display: none;
    justify-content: space-between;
    padding: 5px;
    margin-top: 100px;

}

.gradasi p{
    color: red;
}

.gradasi .delete button{
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.gradasi .set{
    display: flex;
    align-items: center;
}

.gradasi .set p{
    font-size: 10px;
    color: #fff;
    margin-left: 5px;
}

.gradasi .delete {
    display: flex;
    align-items: center;
}
.gradasi .delete img{
    width: 17px;
    height: 17px;
}

.gradasi .delete .line-del{
    height: 20px;
    border: 0.5px solid #fff;
    border-radius: 30px;
    margin-right: 5px;
}

.img img{
    width: 130px;
    height: 130px;
}
/* end section kategori */

/* start button */
.section-button{
    margin-top: 15px;
}
.line-button{
    width: 100%;
    border: 1px solid #D1D4D6;
    margin-bottom: 10px;
}

.button-act{
    width: 260px;
    display: flex;
    justify-content: space-between;
    float: right;
}

.button-act button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 4px 8px 0px #0000000F;
    box-shadow: 0px 0px 4px 0px #0000000A;

}

.button-act button:nth-child(1){
    background-color: #FF4343;
}
.button-act button:nth-child(2){
    background-color: #0075FF;
}
/* end button */

/* End Content */
